.drop-zone {
  border: 2px dashed #1565c0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  background-color: rgba(99, 155, 219, 0.2);
  color: #9d9797;
  height: 150px;
}

.drag-label {
  color: #1565c0;
}

.drop-zone.drag-over {
  background-color: #e3f2fd;
  border-color: #1565c0;
}
